.container-fluid{ 
    padding-left: 0% ;
    padding-right: 0%;
}

.table tbody { 
    font-size: 12px;
    padding-left: 0%;
    width: 100%;
} 
.table td { 
    padding: 0.5rem;
}
.card-body { 
    padding: 0rem;
} 
