.card-header-MatCon {
    font-size: 30px;
  }


.table.table-MatCon {
    font-size: 16px;
    width: calc(100% - 30px); /* ลบขนาดขอบของ card ออกจากความกว้างของตาราง */
    margin: 0 auto; /* จัดกลางตารางใน card */
  }
  
  .table-MatCon tbody {
    font-size: 10px;
  }
  
  .table-MatCon tr {
    font-size: 14px;
  }

  .table-MatCon th{
    padding: 0.75rem;
    font-size: 17px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  .table-MatCon td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  .btn-custom {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .btn-submit {
    font-size: 20px;
  }
  

  .mt-3 {
    margin-bottom: 1rem;
  }
  
  
  input[type="checkbox"] {
    transform: scale(2); 
  }

  


  